@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Quicksand;
    font-weight: 300;
    color: black;
    background-color: antiquewhite;
}

/* heading and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:black
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    font-size: 155%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid grey;
}

.active {
    border-bottom: 1px solid grey;
}

/*My main image*/

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color:white;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/main-image.jpg') no-repeat center center;
}

#cover-text {
    font-size: 150%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    background-color:burlywood;
    bottom:30px;
    left:150px;
    position:absolute;
}

#about-us {
    font-size: x-large;
    text-align: center;
}

#sign-up {
    font-size: x-large;
    text-align: center;
}

/*  sign-up form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: burlywood;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border: 2px solid white;
    border-radius: 50px;

}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: gray;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: black;
    color: #fafafa;
    display: block;
    border: 2px solid white;
    border-radius: 35px;
    left:0;
    right:100px;
}

.join-button:hover {
    background-color: #fafafa;
    color: black;
}

.right {
    float:right;
    width: 60%;
}

/*time table*/
table {
	width: 55%;
    position:relative;
}

th, td {
	border: 1px solid black;
	padding: 7px;
}

#contact-us {
    font-size: x-large;
    text-align: center;
}

/*my footer*/
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

@media screen and (max-width: 1200px) {

    #menu {
       
        max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    }

    .table {
        display: none;
    }

    #sing-up {
        position: relative;
        max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    }
}

    @media screen and (max-width: 1558px) {

        .table {
            width:65%;
            display: none;
        }
    }
